<!DOCTYPE html>
<html>
<head><title>webclient</title>
<link rel="stylesheet" type="text/css" href="/modfiles/webclient/style.css">
<script type="text/javascript" src="/modfiles/webclient/jquery.min.js"></script>
<script type="text/javascript" src="/modfiles/webclient/events.js"></script>
<script type="text/javascript" src="/modfiles/webclient/irc.js"></script>
<script type="text/javascript" src="/modfiles/webclient/view.js"></script>
<script type="text/javascript">
var networks = {
<?LOOP NetworkLoop ?>
"<? VAR Network ?>": new IRCNetwork("<? VAR Network ?>", "<? VAR Nick?>", [
<?LOOP ChannelLoop ?>
new Channel("<? VAR Channel ?>"),
<?ENDLOOP?>
]),
<?ENDLOOP?>
};
</script>
</head>
<body>
<div id="tabs">
</div>
</body>
</html>
